<section id="sectionLogin">
    <div class="wrapper">
        <div class="container-fluid">
            <div class="col-md-6 col-xs-10 mx-auto top3em">
                <div class="card">
                    <div class="card-body">
                        <!-- form -->
                        <form id="formLogin" action="http://localhost:3000/auth/signin" method="post">
                            <div>
                                <span class="fas fa-user"></span>
                            </div>
                            <div class="form-group">
                                <input type="email" name="username" id="email" placeholder="Email" class="form-control form-control-sm">
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" id="password" placeholder="Password"
                                       class="form-control form-control-sm">
                            </div>
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-dark btn-sm">Iniciar Sesion</button>
                            </div>
                        </form>
                        <div class="alert alert-danger">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>